@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html{
    font-size: 62,5%;
}

nav{
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: .5rem 1rem;
}

nav #white{
    width: 50%;
}


nav #dark{
   
    display: none;
  
     
}

#menu{
    color: white;
    font-size: 1.8rem;
}

.nav{
    width: 100%;
    min-height: 300px;
    background-color: red;
    line-height: 5rem;
    display: flex;
    /* justify-self: center; */
    display: none;
}

.nav ul{
    list-style-type: none;
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.active{
    display: block;
}

nav ul{
    display: none;
}

.hero{
    width: 100%;
    max-height: 690px;
    background: linear-gradient(rgba(0,0,0,0.7)),url(./assests/header-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    text-align: center;
     
}

.hero h2{
  
    color: white;
    font-size: 1.2rem;
}
.hero p{
    
    color: white;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 650;
}

.hero h3{
    color: white;
    margin-top: 1.5rem;
    font-weight: 400;

}
.hero .buttons{
    width: 100%;
    background-color: transparent;
      
    
    
}

#play{
    background-color: red;
    border: none;
    padding: 1.1rem;
    margin: 2rem;
}
.hero .buttons  button{
    min-width: 25%;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
   
    
}

#header-2{
    max-width: 100%;
    height: 50%;
    margin-top: 1rem;
}

 






.section{
    width: 100%;
    height: auto;
    background-color:transparent;
    padding: 2rem 0;
     margin-top: 30rem;
    text-align: center;

    
}

#how-txt{
    font-size: 2.3rem;
}

.app-works{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}


.left{
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
   
     
} 

#app-1{
    width: 80%;
    max-height: auto;
}

.right{
    width: 100%;
    height:auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    padding: 1rem;
}

#account{
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 0rem;
    color: red;
     
    
}

#instruction-1{
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
    
}

#info{
    width: 100%;
    font-size: .9rem;
    margin-top: 2rem;
    text-align: center;
}


/* helllllllo */


.exp-varities{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}


.left{
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    /* padding: 1rem; */
   
     
} 

#app-1{
    width: 80%;
    max-height: auto;
}

.right{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    /* padding: 2rem; */
}

#account{
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    margin-left: 0rem;
    color: red;
     
    
}

#instruction-1{
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
    
}

#info{
    width: 100%;
    font-size: .9rem;
    margin-top: 2rem;
    text-align: center;
    /* padding: .1rem; */
}



.right-2{
    padding: 1rem;
}


/* download */




.download-app{
    width: 100%;
    max-height: 80vh;
    background-color: red;
    padding: 0;
    /* margin-top: 5rem; */
   
}
.download-img{
    width: 100%;
    max-height: 60vh;
    background:linear-gradient(rgba(0,0,0,0.7)),url(./assests/download.jpg);
    background-position: center;
    padding: 3rem;
}

#download{
    width: 100%;
    height: 20vh;
    display: none;

}



.hero .buttons{
    width: 100%;
    background-color: transparent;
      
    
    
}

#play{
    background-color: red;
    border: none;
    padding: 1.1rem;
    margin-top: 3rem;
}
 .buttons  button{
    min-width: 15%;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    margin-top: 0rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
   cursor: pointer;
    
}

h2{
    color: white;
    font-size: 2.1rem;
    text-align: center;

}

h4{
    font-size: .6rem;
    color: white;
    margin-top: 2rem;
    text-align: center;
}

#footer-img{
    margin-top: 10rem;
    
}

.icons{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: red;
    cursor: pointer;
    /* margin-bottom: 1rem; */
}





#copyright-txt{
    font-size:.8rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}























@media (width>768px) {
    html{
        font-size: 90%;
    }
    nav{
        background-color: white;
        width: 100%;
        max-width: 100vw;
        padding: 0 3rem;
    }

   nav #dark{
    display: block;
   }

   nav #white{
    display: none;
   }
   nav #menu{
    display: none;
   }

   nav ul{
    display: block;
    display: flex;
    list-style-type: none;
    gap: 3rem;
   }

   nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
   }
   
   nav a:hover{
    color: red;
   }

   .nav{
    display: none;
   }

 






   
.hero{
    width: 100%;
    max-height: 550px;
    background: linear-gradient(rgba(0,0,0,0.7)),url(./assests/header-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    text-align: center;
     
     
}

.hero h2{
  
    color: white;
    font-size: 1.7rem;
}
.hero p{
    width: 65%;
    color: white;
    font-size: 3.5rem;
    margin-top: 3rem;
    font-weight: 650;
    justify-self: center;
}

.hero h3{
    color: white;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.3rem;

}


#header-2{
    max-width: 30%;
    height: 50%;
    margin-top:1rem;
}



.section{
    width: 100%;
    height: auto;
    background-color: rgb(0, 255, 200);
    padding: 2rem;
    
}


.app-works{
    width: 100%;
    display: block;
    background-color: transparent;
    flex-direction:row;
     
     
    margin-top: 30rem;
     
}

#how-txt{
    font-size: 3.5rem;
}
#app-1{
    width: 20%;
    max-height: 100vh;
    margin-top: 2rem;
}

#account{
    font-size:1.5rem;
    color: red;
    margin: 1rem;

}
#instruction-1{
    width: 90%;
    font-size: 2.1rem;
}

#info{
    font-size: 1.1rem;
    margin-top: 2rem;
}






.section{
    max-width: 100%;
    height: 100vh;
    background-color:transparent;
    padding: 2rem;
     margin-top: 30rem;
    text-align: center;

    
}

.app-works{
    width:100%;
    height: 90%;
    display: flex;
    margin-top: 1rem;
}


.left{
    width: 70%;
    height: 80%;
    display: flex;
    align-self: center;
    justify-content: center;
   
     
} 

#app-1{
    width: 30%;
    height: 90%;
}

.right{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding: 3rem;
}

#account{
    width: 100%;
    font-size: 1.9rem;
    text-align: start;
    margin-left: -.1rem;
    
}

#instruction-1{
    width: 90%;
    font-size: 2.3rem;
    text-align: start;
    
}

#info{
    width: 90%;
    font-size: 1rem;
    text-align: start;
}



/*  */



/* hi */



.app-works{
    width: 100%;
    display: block;
    background-color: transparent;
    flex-direction:row;
     
     
    margin-top: 30rem;
     
}

#how-txt{
    font-size: 3.5rem;
}
#app-1{
    width: 20%;
    max-height: 100vh;
    margin-top: 2rem;
}

#account{
    font-size:1.5rem;
    color: red;
    margin: 1rem;

}
#instruction-1{
    width: 90%;
    font-size: 2.1rem;
}

#info{
    font-size: 1.1rem;
    margin-top: 2rem;
}






.section{
    max-width: 100%;
    height: 100vh;
    background-color:transparent;
    padding: 2rem;
     margin-top: 30rem;
    text-align: center;

    
}

.app-works{
    width:100%;
    height: 90%;
    display: flex;
    margin-top: 1rem;
}


.left{
    width: 70%;
    height: 80%;
    display: flex;
    align-self: center;
    justify-content: center;
   
     
} 

#app-1{
    width: 30%;
    height: 90%;
}

.right{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding: 3rem;
}

#account{
    width: 100%;
    font-size: 1.9rem;
    text-align: start;
    margin-left: -.1rem;
    
}

#instruction-1{
    width: 90%;
    font-size: 2.3rem;
    text-align: start;
    
}

#info{
    width: 90%;
    font-size: 1rem;
    text-align: start;
}



/* hello */







.exp-varities{
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
}


.left-2{
    width: 70%;
    height: 80%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: rebeccapurple;
    
   
     
} 

#app-1{
    width: 30%;
    height: 90%;
}

.right-2{
    width: 60%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    padding: 6rem;
}

#account{
    width: 100%;
    font-size: 1.9rem;
    text-align: start;
    margin-left: -.1rem;
    
}

#instruction-1{
    width: 90%;
    font-size: 2.3rem;
    text-align: start;
    
}

#info{
    width: 90%;
    font-size: 1rem;
    text-align: start;
}





/* download */
 

.download-app{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    /* margin-bottom: .5rem; */
   
}
.download-img{
    width: 100%;
    max-height: 65%;
    background:linear-gradient(rgba(0,0,0,0.7)),url(./assests/download.jpg);
    background-position: center;
    padding: 3rem;
}

#download{
    width: 100%;
    max-height: 50vh;
    display: none;

}



 .buttons{
    width: 100%;
    background-color: transparent;
      
    
    
}

#play{
    background-color: red;
    border: none;
    padding: 1.1rem;
    margin: 2rem;
}
 .buttons  button{
    min-width: 15%;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    margin-top: 3rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
   cursor: pointer;
    
}

h2{
    color: white;
    font-size: 3rem;

}

h4{
    font-size: 1.2rem;
    color: white;
    margin-top: 2rem;
}

#footer-img{
    margin-top: 10rem;
}

.icons{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: red;
    cursor: pointer;
    /* margin-bottom: .5rem; */
}


#copyright-txt{
    font-size:1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}








}